<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filter.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
  </head>
  <body ng-app="starter" ng-controller="ApiCtrl">

    <ion-pane>
      <!-- <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar> -->
      <ion-content>
        <h1 style="text-align: center; padding-top:10px;">롤 전적 검색</h1>
        <div class="" style="text-align: center; padding-top:10px;">
          <input type="text" id="summonerName" placeholder="소환사명" ng-model="sName" style="background: antiquewhite; display: -webkit-inline-box;">
          <input type="button" value="검색" class="button button-small" ng-click="loadUserId(sName)">
        </div>
        <div class="" ng-if="summonerInfo != null && status == 200" style="margin-top: 10px;">
          <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.18.1/img/profileicon/{{defaultInfo.profileIconId}}.png" width="40" />
          <strong style="font-size:30px;">{{defaultInfo.name}}</strong><br>
          레벨 : {{defaultInfo.summonerLevel}}<br>
          일반 : {{normalWin}} 승<br>
          티어 : {{summonerInfo.tier}} {{summonerInfo.entries[0].division}}<br>
          리그포인트 : {{summonerInfo.entries[0].leaguePoints}} LP<br>
          {{(summonerInfo.entries[0].wins+summonerInfo.entries[0].losses)}}전 {{summonerInfo.entries[0].wins}}승 {{summonerInfo.entries[0].losses}}패
          승률 : {{summonerInfo.entries[0].wins/(summonerInfo.entries[0].wins+summonerInfo.entries[0].losses)*100 | number:2}}%

        </div>
        <div class="" ng-if="status != 200 && status != 404" style="text-align:center; margin-top: 10px;">
          그런 소환사 아이디는 존재하지 않습니다.
        </div>
        <div class="" ng-if="status == 404" style="margin-top: 10px;">
          <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.18.1/img/profileicon/{{defaultInfo.profileIconId}}.png" width="40" />
          <strong style="font-size:30px;">{{defaultInfo.name}}</strong><br>
          레벨 : {{defaultInfo.summonerLevel}}<br>
          일반 : {{normalWin}} 승<br>
          <span>시즌 랭크게임을 진행하지 않았거나 배치고사 중입니다.</span><br>
        </div>

        <div class="" ng-if="status == 200 || status == 404" ng-repeat="matchSummary in matchSummaries" style="margin-top:5px;">
          <div ng-if="!matchSummary.win" style="background-color:#f9ebeb;">
            <strong style="color:#d75757;">{{matchSummary.win|resultFilter}} <span>({{matchSummary.matchType|typeFilter}})</span></strong>
            {{matchSummary.date|date:'MM/dd H:mm'}} | {{matchSummary.gameTime / 60 | number:0}}분<br>
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="50" />

            <span ng-repeat="spell in matchSummary.spells">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="30" />
            </span>
            <br>

            <strong>{{matchSummary.myChamp}}</strong>
            <span style="color: #d75757;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2}}</span>
            ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
            <br>

            레벨 {{matchSummary.lv}} /
            골드 {{matchSummary.gold}} /
            CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
            <br>

            <span ng-repeat="item in matchSummary.items track by $index">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="30" />
            </span>
            <br>

            <span ng-if="matchSummary.players.team100.length > matchSummary.players.team200.length">
              <span ng-repeat="myTeam in matchSummary.players.team100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{myTeam}}.png" width="30" />
              </span>
              <strong>vs</strong>
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
              <span ng-repeat="enemy in matchSummary.players.team200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{enemy}}.png" width="30" />
              </span>
            </span>
            <span ng-if="matchSummary.players.team100.length < matchSummary.players.team200.length">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
              <span ng-repeat="myTeam in matchSummary.players.team100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{myTeam}}.png" width="30" />
              </span>
              <strong>vs</strong>
              <span ng-repeat="enemy in matchSummary.players.team200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{enemy}}.png" width="30" />
              </span>
            </span>
            <i style="cursor: pointer;" class="ion-arrow-down-b" ng-click="showDetail(matchSummary, $index)"></i>

            <div ng-if="isActive[$index]" style="font-size:8px;">

              {{gameDetailInfo.teams[0].winner|resultFilter}}팀<br>
              <span ng-if="matchSummary.teamId == 100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
                <b>{{defaultInfo.name}}</b>
                |
                <span ng-if="summonerInfo.tier">{{summonerInfo.tier}} {{summonerInfo.entries[0].division}}</span>
                <span ng-if="!summonerInfo.tier">Unrank</span>
                |
                <span style="color: #d75757;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2}}</span>
                ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
                |
                <span ng-repeat="spell in matchSummary.spells">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="30" />
                </span>
                |
                lv: {{matchSummary.lv}}
                <br>
                <span ng-repeat="item in matchSummary.items track by $index">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                </span>
                |
                골드 {{matchSummary.gold}} / CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
                <br>
                총 딜량 {{matchSummary.deal}} | 챔피언에게 가한 딜량 {{matchSummary.champDeal}}
              </span>
              <div ng-repeat="player in matchSummary.fellowPlayers">
                <div ng-if="player.teamId == 100">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{player.championName}}.png" width="30" />
                  <b>{{player.name}}</b>
                  |
                  <span ng-if="player.tier">{{player.tier}}</span>
                  <span ng-if="!player.tier">Unrank</span>
                  |
                  <span style="color: #d75757;">{{ (player.kill + player.assist) / player.death | number:2 }}</span>
                  ( {{player.kill}} / {{player.death}} / {{player.assist}} )
                  |
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell1}}.png" width="20" />
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell2}}.png" width="20" />
                  |
                  lv: {{player.lv}}
                  <br>
                  <span ng-repeat="item in player.items track by $index">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                  </span>
                  |
                  골드 {{player.gold}} | CS {{player.cs}} (분당 {{player.cs/(matchSummary.gameTime/60) | number:1}} )
                  <br>
                  총 딜량 {{player.deal}} | 챔피언에게 가한 딜량 {{player.champDeal}}
                </div>

              </div>

              <strong>VS</strong><br><br>

              {{gameDetailInfo.teams[1].winner|resultFilter}}팀<br>
              <span ng-if="matchSummary.teamId == 200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
                <b>{{defaultInfo.name}}</b>
                |
                <span ng-if="summonerInfo.tier">{{summonerInfo.tier}} {{summonerInfo.entries[0].division}}</span>
                <span ng-if="!summonerInfo.tier">Unrank</span>
                |
                <span style="color: #d75757;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2}}</span>
                ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
                |
                <span ng-repeat="spell in matchSummary.spells">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="20" />
                </span>
                |
                lv: {{matchSummary.lv}}
                <br>
                <span ng-repeat="item in matchSummary.items track by $index">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                </span>
                |
                골드 {{matchSummary.gold}} / CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
                <br>
                총 딜량 {{matchSummary.deal}} | 챔피언에게 가한 딜량 {{matchSummary.champDeal}}
              </span>
              <div ng-repeat="player in matchSummary.fellowPlayers">
                <div ng-if="player.teamId == 200">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{player.championName}}.png" width="30" />
                  <b>{{player.name}}</b>
                  |
                  <span ng-if="player.tier">{{player.tier}}</span>
                  <span ng-if="!player.tier">Unrank</span>
                  |
                  <span style="color: #d75757;">{{ (player.kill + player.assist) / player.death | number:2 }}</span>
                  ( {{player.kill}} / {{player.death}} / {{player.assist}} )
                  |
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell1}}.png" width="20" />
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell2}}.png" width="20" />
                  |
                  lv: {{player.lv}}
                  <br>
                  <span ng-repeat="item in player.items track by $index">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                  </span>
                  |
                  골드 {{player.gold}} | CS {{player.cs}} (분당 {{player.cs/(matchSummary.gameTime/60) | number:1}} )
                  <br>
                  총 딜량 {{player.deal}} | 챔피언에게 가한 딜량 {{player.champDeal}}
                </div>
              </div>

            </div>

          </div>

          <div ng-if="matchSummary.win" style="background-color:#e4f0f3;">
            <strong style="color: #1e869e;">{{matchSummary.win|resultFilter}} <span>({{matchSummary.matchType|typeFilter}})</span></strong>
            {{matchSummary.date|date:'MM/dd H:mm'}} | {{matchSummary.gameTime / 60 | number:0}}분<br>
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="50" />

            <span ng-repeat="spell in matchSummary.spells">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="30" />
            </span>
            <br>

            <strong>{{matchSummary.myChamp}}</strong>
            <span style="color: #1e869e;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2 }}</span>
            ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
            <br>

            레벨 {{matchSummary.lv}} /
            골드 {{matchSummary.gold}} /
            CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
            <br>

            <span ng-repeat="item in matchSummary.items track by $index">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="30" />
            </span>
            <br>

            <span ng-if="matchSummary.players.team100.length == 5">
              <span ng-repeat="myTeam in matchSummary.players.team100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{myTeam}}.png" width="30" />
              </span>
              <strong>vs</strong>
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
              <span ng-repeat="enemy in matchSummary.players.team200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{enemy}}.png" width="30" />
              </span>
            </span>
            <span ng-if="matchSummary.players.team100.length == 4">
              <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
              <span ng-repeat="myTeam in matchSummary.players.team100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{myTeam}}.png" width="30" />
              </span>
              <strong>vs</strong>
              <span ng-repeat="enemy in matchSummary.players.team200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{enemy}}.png" width="30" />
              </span>
            </span>
            <i class="ion-arrow-down-b" ng-click="showDetail(matchSummary, $index)"></i>

            <div ng-if="isActive[$index]" style="font-size:8px;">

              {{gameDetailInfo.teams[0].winner|resultFilter}}팀<br>
              <span ng-if="matchSummary.teamId == 100">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="20" />
                <b>{{defaultInfo.name}}</b>
                |
                <span ng-if="summonerInfo.tier">{{summonerInfo.tier}} {{summonerInfo.entries[0].division}}</span>
                <span ng-if="!summonerInfo.tier">Unrank</span>
                |
                <span style="color: #d75757;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2}}</span>
                ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
                |
                <span ng-repeat="spell in matchSummary.spells">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="20" />
                </span>
                |
                lv: {{matchSummary.lv}}
                <br>
                <span ng-repeat="item in matchSummary.items track by $index">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                </span>
                |
                골드 {{matchSummary.gold}} / CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
                <br>
                총 딜량 {{matchSummary.deal}} | 챔피언에게 가한 딜량 {{matchSummary.champDeal}}
              </span>
              <div ng-repeat="player in matchSummary.fellowPlayers">
                <div ng-if="player.teamId == 100">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{player.championName}}.png" width="30" />
                  <b>{{player.name}}</b>
                  |
                  <span ng-if="player.tier">{{player.tier}}</span>
                  <span ng-if="!player.tier">Unrank</span>
                  |
                  <span style="color: #d75757;">{{ (player.kill + player.assist) / player.death | number:2 }}</span>
                  ( {{player.kill}} / {{player.death}} / {{player.assist}} )
                  |
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell1}}.png" width="20" />
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell2}}.png" width="20" />
                  |
                  lv: {{player.lv}}
                  <br>
                  <span ng-repeat="item in player.items track by $index">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                  </span>
                  |
                  골드 {{player.gold}} | CS {{player.cs}} (분당 {{player.cs/(matchSummary.gameTime/60) | number:1}} )
                  <br>
                  총 딜량 {{player.deal}} | 챔피언에게 가한 딜량 {{player.champDeal}}
                </div>

              </div>

              <strong>VS</strong><br><br>

              {{gameDetailInfo.teams[1].winner|resultFilter}}팀<br>
              <span ng-if="matchSummary.teamId == 200">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{matchSummary.myChamp}}.png" width="30" />
                <b>{{defaultInfo.name}}</b>
                |
                <span ng-if="summonerInfo.tier">{{summonerInfo.tier}} {{summonerInfo.entries[0].division}}</span>
                <span ng-if="!summonerInfo.tier">Unrank</span>
                |
                <span style="color: #d75757;">{{ (matchSummary.kill + matchSummary.assist) / matchSummary.death | number:2}}</span>
                ( {{matchSummary.kill}} / {{matchSummary.death}} / {{matchSummary.assist}} )
                |
                <span ng-repeat="spell in matchSummary.spells">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{spell}}.png" width="20" />
                </span>
                |
                lv: {{matchSummary.lv}}
                <br>
                <span ng-repeat="item in matchSummary.items track by $index">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                </span>
                |
                골드 {{matchSummary.gold}} / CS {{matchSummary.cs}} (분당 {{matchSummary.cs / (matchSummary.gameTime/60) | number:1 }})
                <br>
                총 딜량 {{matchSummary.deal}} | 챔피언에게 가한 딜량 {{matchSummary.champDeal}}

              </span>
              <div ng-repeat="player in matchSummary.fellowPlayers">
                <div ng-if="player.teamId == 200">
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/{{player.championName}}.png" width="30" />
                  <b>{{player.name}}</b>
                  |
                  <span ng-if="player.tier">{{player.tier}}</span>
                  <span ng-if="!player.tier">Unrank</span>
                  |
                  <span style="color: #d75757;">{{ (player.kill + player.assist) / player.death | number:2 }}</span>
                  ( {{player.kill}} / {{player.death}} / {{player.assist}} )
                  |
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell1}}.png" width="20" />
                  <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/spell/{{player.spell2}}.png" width="20" />
                  |
                  lv: {{player.lv}}
                  <br>
                  <span ng-repeat="item in player.items track by $index">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/item/{{item}}.png" width="20" />
                  </span>
                  |
                  골드 {{player.gold}} | CS {{player.cs}} (분당 {{player.cs/(matchSummary.gameTime/60) | number:1}} )
                  <br>
                  총 딜량 {{player.deal}} | 챔피언에게 가한 딜량 {{player.champDeal}}
                </div>
              </div>

            </div>

          </div>



        </div>



      </ion-content>
    </ion-pane>
  </body>
</html>
